      <div class="hero-section">
          <div class="hero-section-text"></div>
          <div class="check-overlay">
              <form>
                  <div class="input-boxes">
                    <label for="check-availability">Arrival:</label>
                    <input type="date">
                  </div>
                  <div class="input-boxes-2">
                    <label for="check-availability">Departure:</label>
                    <input type="date">
                  </div>
                  <div class="input-boxes-3">
                    <form>
                       <fieldset>
                          <legend></legend>
                          <p>
                             <label>Adults:</label>
                             <select id = "myList">
                               <option value = "1">1</option>
                               <option value = "2">2</option>
                               <option value = "3">3</option>
                               <option value = "4">4</option>
                               <option value = "1">5</option>
                               <option value = "2">6</option>
                               <option value = "3">7</option>
                               <option value = "4">8</option>
                             </select>
                          </p>
                       </fieldset>
                    </form>
                  </div>
                  <div class="button large availability"><a href=""><p>CHECK AVAILABILITY</p></a>
                  </div>
              </form>
              <div class="check-overlay-box"></div>
            </div>
          </div>