      <div class="above-nav">
          
          <button type="button" class="home-top1 hide-for-small-only">(888) 699-0444</button>
          <button type="button" class="home-top2 hide-for-small-only">Gift Certificates</button>
          <button type="button" class="home-top3 hide-for-small-only">Blog</button>
          
          <img src="logo.png" alt="" class="top-logo" height="75" width="100">
          <p>Branson, MO</p>
          
          <i class="fa fa-shopping-cart" id="cart"></i>  
      </div>
      
      <div class="mobile-abovenav show-for-small-only">
        <i class="fa fa-phone show-for-small-only" id="phone" href=""><p>Phone</p></i>
        <i class="fa fa-gift show-for-small-only" id="gift" href=""><p>Gift</p></i>
        <i class="fa fa-comment show-for-small-only" id="blog" href=""><p>Blog</p></i> 
     </div>
          
      
   <!--DESKTOP & TABLET-->   
    <nav>
      <ul id='menu' class="hide-for-small-only">
            <li><a class='prett' href='#' title='Menu'>Accommodations</a>
              <ul class='menus'>
                <li class='has-submenu'><a class='prett' href='Dropdown 1' title='Dropdown 1'>Rooms</a>
                  <ul class='submenu'>
                    <li><a href="#" title="Sub Menu">Music</a></li>
                    <li><a href="#" title="Sub Menu">Antique Train</a></li>
                    <li><a href="#" title="Sub Menu">White River</a></li>
                    <li><a href="#" title="Sub Menu">Wilderness</a></li>
                    <li><a href="#" title="Sub Menu">Anniversary</a></li>
                    <li><a href="#" title="Sub Menu">Honeymoon</a></li>
                    <li><a href="#" title="Sub Menu">Victorian Honeymoon</a></li>
                  </ul>
                </li>
                <li><a href='#' title='Dropdown 2'>Breakfast</a></li>
              </ul>
            </li>
              
           <li><a class='prett' href='#' title='Menu'>About</a>
              <ul class='menus'>
                <li><a href='#' title='Dropdown 1'>Our Story</a></li>
                <li><a href='#' title='Dropdown 2'>Contact Us</a></li>
                <li><a href='#' title='Dropdown 3'>Property Amenities</a></li>
                <li><a href='#' title='Dropdown 4'>Photo Gallery</a></li>
                <li><a href='#' title='Dropdown 5'>Testimonials</a></li>
                <li><a href='#' title='Dropdown 6'>Policies</a></li>
              </ul>
            </li>
              
            <li><a class='prett' href='#' title='Menu'>Packages</a>
              <ul class='menus'>
                <li><a href='#' title='Dropdown 1'>Seasonal Special</a></li>
                <li><a href='#' title='Dropdown 2'>Candlelight</a></li>
                <li><a href='#' title='Dropdown 3'>Gift Basket</a></li>
                <li><a href='#' title='Dropdown 4'>Massage</a></li>
                <li><a href='#' title='Dropdown 5'>Roses</a></li>
                <li><a href='#' title='Dropdown 6'>Specialty Cakes</a></li>
              </ul>
            </li>
              
            <li><a class='prett' href='#' title='Menu'>Events</a>
              <ul class='menus'>
                <li><a href='#' title='Dropdown 1'>Weddings</a></li>
                <li><a href='#' title='Dropdown 2'>Reunions</a></li>
              </ul>
            </li>
              
            <li><a class='prett' href='#' title='Menu'>Location</a>
              <ul class='menus'>
                <li><a href='#' title='Dropdown 1'>Map</a></li>
                <li><a href='#' title='Dropdown 2'>Area Events</a></li>
              </ul>
            </li>
              
      </ul>
      
<!--MOBILE-->
        
      <ul class="multilevel-accordion-menu vertical menu show-for-small-only" data-accordion-menu>   
          
          <li>
            <a href="#"><i class="fa fa-bars show-for-small-only" id=""></i></a>
            
            <ul class="menu vertical sublevel-1">
              <li>
                <a href="#">Accommodations</a>
                <ul class="menu vertical sublevel-2">
                  <li><a class="subitem" href="#">Rooms</a></li>
                  <li><a class="subitem" href="#">Breakfast</a></li>
                </ul>
              </li>
              <li>
                <a href="#">About</a>
                <ul class="menu vertical sublevel-2">
                  <li><a class="subitem" href="#">Our Story</a></li>
                  <li><a class="subitem" href="#">Contact Us</a></li>
                  <li><a class="subitem" href="#">Property Amenities</a></li>
                  <li><a class="subitem" href="#">Photo Gallery</a></li>
                  <li><a class="subitem" href="#">Testimonials</a></li>
                  <li><a class="subitem" href="#">Policies</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Packages</a>
                <ul class="menu vertical sublevel-2">
                  <li><a class="subitem" href="#">Seasonal Special</a></li>
                  <li><a class="subitem" href="#">Candlelight</a></li>
                  <li><a class="subitem" href="#">Gift Basket</a></li>
                  <li><a class="subitem" href="#">Massage</a></li>
                  <li><a class="subitem" href="#">Roses</a></li>
                  <li><a class="subitem" href="#">Specialty Cakes</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Events</a>
                <ul class="menu vertical sublevel-2">
                  <li><a class="subitem" href="#">Weddings</a></li>
                  <li><a class="subitem" href="#">Reunions</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Location</a>
                <ul class="menu vertical sublevel-2">
                  <li><a class="subitem" href="#">Map</a></li>
                  <li><a class="subitem" href="#">Area Events</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>