<div class="email-form">
          <h3>Want to stay updated on all things Crystal Cove? Sign up for our email newsletter to receive exclusive offers, news about upcoming events, and more:</h3>
          <br>
          <div class="entry-submit">
              <form action="/action_page.php">
              <input type="email" name="emailaddress" class="entry-form" placeholder="Email Address...">
              <input type="submit" class="submit">
                </form>
          </div>
      </div>