<div class="grid-container grid-margin-x full">
         <div class="grid-x ">
          <div class="smores-pic cell small-8 medium-4 large-4">
              <img src="smores-pic.png" alt=""  height="209" width="380">
              <button><a href=""><p>LEARN MORE</p></a></button>
          </div>
          <div class="smores-message cell small-8 medium-4 large-4">
              <p>S'MORES PACKAGE<br><em>Make the most of your stay this season.</em></p>
          </div>
        </div>
      </div>