<div class="footer-space">
      </div>
      
     <footer class="footer">
        <article class="grid-container">
            <div class="grid-x">

                <div class="cell small-3 medium-3 large-3">
                    <p>&copy; 2018 Crystal Cove B&amp;B</p>
                </div>

                <div class="cell small-6 medium-6 large-6">
                    <ul class="social-buttons" id="demo1">
                      <li>
                        <a href="#" class="fa fa-facebook"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-twitter"></a>
                      </li>
                      <li>
                        <a href="#" class="fa fa-instagram"></a>
                      </li>
                    </ul>
                </div>

                <div class="cell small-3 medium-3 large-3">
                    <p><a href="#top"><i class="up"></i></a></p>
                </div>

            </div>
        </article>
    </footer>